{% extends 'base.html' %}

{% block title %} Update {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8 mx-auto">
            <h4 class="my-2">Настройки профиля</h4>
            <form method="POST" action="">{% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <form class="my-3" method="POST" action="{% url 'accounts:delete' %}">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить аккаунт</button>
            </form>
        </div>
    </div>



    <div class="row my-3">
        <div class="col-md-8 mx-auto">
            <p class="my-2 text-justify">Если вы не нашли подходящий набор <b>Город, Язык програмирования</b>,
                Вы можете заполнить форму с Вашими пожеланиями. После того, как необходимые данные будут добавлены, Вы
                получите письмо на указанный Вами email.
            </p>

            <p>
              <button class="btn btn-success my-2" type="button" data-toggle="collapse" data-target="#collapseds" aria-expanded="false" aria-controls="collapseExample">
                Показать форму
              </button>
            </p>
            <div class="collapse" id="collapseds">
              <div class="card card-body">
                 <form method="POST" action="{% url 'accounts:contact' %}">{% csrf_token %}
                    <div class="form-group">
                        {{ contact_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
              </div>
            </div>

        </div>
    </div>

{% endblock %}

